<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a href="#"><h1><span>Call</span> Manager</h1></a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="hideMenu()" [routerLink]="[commonService.getHomeURL()]">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" [routerLink]="[commonService.getCustomersURL()]">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" href="#">Service Calls</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Manage Categories</a>
            <a class="dropdown-item" href="#">Manage Sub-Categories</a>
            <a class="dropdown-item" href="#">Manage Models</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" (click)="hideMenu()" [routerLink]="[commonService.getBrandsURL()]">Manage Brands</a>
            <a class="dropdown-item" href="#">Manage Users</a>
            <a class="dropdown-item" href="#">Manage Roles</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>