<div>
    <table>
      <tr>
        <td class="header">Sub-Category Name:</td>
        <td>{{subCategory?.name}}</td>
      </tr>
      <tr>
        <td class="header">Description:</td>
        <td>{{subCategory?.description}}</td>
      </tr>
      <tr>
          <td class="header">Category:</td>
          <td>{{subCategory?.category}}</td>
        </tr>
      <tr>
        <td class="header">Status:</td>
        <td>{{subCategory?.status}}</td>
      </tr>
    </table>
    <button class="btn btn-outline-secondary" (click)="cancel()">Back</button>
  </div>