<div class="row">
  <div class="col-md-6">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
      <div class="form-group">
        <label for="title">Title</label>
        <input #title="ngModel" [(ngModel)]="brand.title" name="title" id="title" type="text" class="form-control" required>
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
          Title is required
        </div>
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input #startDate="ngModel" [(ngModel)]="brand.startDate" name="startDate" id="startDate" type="date" class="form-control" required>
        </div>
        <div *ngIf="startDate.touched && startDate.invalid" class="alert alert-danger">
          <div *ngIf="startDate.errors.required">
            Start Date is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <select #status="ngModel" [(ngModel)]="brand.status" name="status" id="status" class="form-control" required>
          <option value="active">Active</option>
          <option value="in-active">In-Active</option>
        </select>
        <div *ngIf="status.touched && status.invalid" class="alert alert-danger">
          Status is required
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button type="button" class="btn" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
