<div class="row">
    <div class="col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="name">User Name</label>
          <input #name="ngModel" [(ngModel)]="user.name" name="name" id="name" type="text" class="form-control" required disabled>
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number</label>
          <input #mobileNumber="ngModel" [(ngModel)]="user.mobileNumber" name="mobileNumber" id="mobileNumber" type="text" class="form-control" required>
          <div *ngIf="mobileNumber.touched && mobileNumber.invalid" class="alert alert-danger">
            Mobile Number is required
          </div>
        </div>
        <div class="form-group">
          <label for="role">User Role</label>
          <select #role="ngModel" [(ngModel)]="user.role" name="role" id="role" class="form-control" required>
            <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
          </select>
          <div *ngIf="role.touched && role.invalid" class="alert alert-danger">
            <div *ngIf="role.errors.required">
              User Role is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select #status="ngModel" [(ngModel)]="user.status" name="status" id="status" class="form-control" required>
            <option value="active">Active</option>
            <option value="in-active">In-Active</option>
          </select>
          <div *ngIf="status.touched && status.invalid" class="alert alert-danger">
            Status is required
          </div>
        </div>
        <button class="btn btn-primary">Save</button>
        <button type="button" class="btn" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
  