<div>
    <table>
      <tr>
        <td class="header">User Name:</td>
        <td>{{user?.name}}</td>
      </tr>
      <tr>
        <td class="header">Mobile Number:</td>
        <td>{{user?.mobileNumber}}</td>
      </tr>
      <tr>
          <td class="header">Role:</td>
          <td>{{user?.role}}</td>
        </tr>
      <tr>
        <td class="header">Status:</td>
        <td>{{user?.status}}</td>
      </tr>
    </table>
    <button class="btn btn-outline-secondary" (click)="cancel()">Back</button>
  </div>