/* You can add global styles to this file, and also import other style files */
.row-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-box {
    width: 400px;
}

@media (max-width: 767px) {
    .add-icon {
        display: inline-block;
        background-size: 100%;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        border-color: #fff;
        background-color: #fff;
        width: 76px;
        height: 38px;
        background-image: url('/assets/images/add.png');
    }
    .hidden-phone {
        display: none;
    }
}

@media (max-width: 400px) {
	.search-box {
		width: 225px;
    }

    .hidden-phone {
        display: none;
    }
}
