<div class="row-actions">
    <div>
      <input 
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-control search-box" placeholder="Search...">
    </div>
    <div>
      <a [routerLink]="[commonService.getNewCustomersURL()]" class="btn btn-primary add-icon">
        <span class="hidden-phone">New Customer</span>
      </a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Mobile</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of filteredCustomers">
        <td>
          <a href="#" [routerLink]="['/customers/', b.$key]">
          {{b.name}}
          </a>
        </td>
        <td>{{b.area}}</td>
        <td><a href="tel:{{b.phoneNumber}}">{{b.phoneNumber}}</a></td>
      </tr>
    </tbody>
  </table>
  