<div class="row-actions">
  <div>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control search-box" placeholder="Search...">
  </div>
  <div>
    <a [routerLink]="[commonService.getNewCustomersURL()]" class="btn btn-primary add-icon">
      <span class="hidden-phone">New Customer</span>
    </a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mobile</th>
      <th class="hidden-phone">Area</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredCustomers">
      <td>
        <a href="#" [routerLink]="[commonService.getCustomersURL(), item.$key]">
          {{item.name}}
        </a>
        <div class="show-phone customer-area">
          <br/>{{item.area}}
        </div>
      </td>
      <td>
        <a href="tel:{{item.phoneNumber}}">{{item.phoneNumber}}</a>
      </td>
      <td class="hidden-phone">{{item.area}}</td>
      <td class="actions">
        <a href="#" [routerLink]="[commonService.getCustomersURL(), item.$key, 'edit']" class="show-phone">
          <img src="assets/images/edit.png" alt="edit" class="edit-icon">
        </a>
        <a href="#" data-toggle="modal" data-target="#deleteCustomerPopup" (click)="showDeletePopup(item)" class="show-phone">
          <img src="assets/images/delete.png" alt="delete" class="edit-icon">
        </a>
        <a href="#" [routerLink]="[commonService.getCustomersURL(), item.$key, 'edit']" class="hidden-phone btn btn-outline-info btn-sm">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
        <button type="button" class="hidden-phone btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteCustomerPopup"
          (click)="showDeletePopup(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteCustomerPopup" tabindex="-1" role="dialog" aria-labelledby="customerDeletePopup" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCustomerTitle">Delete Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please confirm on deletion of customer -
        <strong>{{customer?.name}}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete(customer?.$key)">Confirm</button>
      </div>
    </div>
  </div>
</div>